@charset "UTF-8";

@font-face {
  font-family: "trafigura";
  src: url("fonts/trafigura.eot?orgId=00D0k000000CwAj");
  src: url("fonts/trafigura.eot?orgId=00D0k000000CwAj##iefix") format("embedded-opentype"), url("fonts/trafigura.woff?orgId=00D0k000000CwAj") format("woff"), url("fonts/trafigura.ttf?orgId=00D0k000000CwAj") format("truetype"), url("fonts/trafigura.svg?orgId=00D0k000000CwAj##trafigura") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before, [data-icon]:after {
  font-family: "trafigura" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before, [class*=icon-]:before, [class^=icon-]:after, [class*=icon-]:after {
  font-family: "trafigura" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\61";
}

.icon-my-sites:before {
  content: "\62";
}

.icon-help:before {
  content: "\63";
}

.icon-settings:before {
  content: "\64";
}

.icon-logout:before {
  content: "\65";
}

.icon-alerts:after {
  content: "\66";
}

.icon-active-orders:after {
  content: "\67";
}

.icon-blanket-orders:after {
  content: "\68";
}

.icon-past-orders:after {
  content: "\69";
}

.icon-close:before {
  content: "\6a";
}

.icon-chevrondown:before {
  content: "\6b";
}

.icon-chevronleft:before {
  content: "\6c";
}

.icon-chevronright:before {
  content: "\6d";
}

.icon-chevronup:before {
  content: "\6e";
}

.icon-check:before {
  content: "\6f";
}

.icon-event:before {
  content: "\70";
}