<apex:page standardStylesheets="false" controller="EP_AddProductController" id="page">
    <!-- Defect : 46578 - Start -->
    <c:EP_PerformanceMonitor />
    <!-- Defect : 46578 - End -->
   <apex:form id="form">
       <apex:sectionHeader subtitle="{! $Label.EP_Add_Product_Page_Section_Header_Subtitle+ CurentAccount.EP_PriceBook__r.Name}" 
                            title="{! $Label.EP_Add_Product_Page_Section_Header_Title + CurentAccount.Name}" id="sectHeader"/>
       <apex:pageMessages id="msg"></apex:pageMessages>
       <apex:actionFunction name="saveProduct" action="{!addProduct}" reRender="msg"  status="status" id="actFunctsave"/>
       <apex:actionFunction name="refreshPageSize" action="{!refreshPageSize}" status="status" reRender="block" id="actFunRefresh"/>
       <apex:actionstatus id="status">
            <apex:facet name="start">
                <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;height: 100%;opacity:0.65;width:100%;"> 
                    <div class="waitingHolder" style="top: 74.2px; width: 91px;">
                        <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                        <span class="waitingDescription">Please Wait...</span>
                    </div>
                </div>
            </apex:facet>
        </apex:actionstatus>
       <apex:pageBlock id="block" rendered="{!NOT(noProductListFlag)}"  title="Records :{!(setCon.pageNumber * size)+1-size}-{!IF((setCon.pageNumber * size)>noOfRecords, noOfRecords,
                   (setCon.pageNumber * size))} of {!noOfRecords}">
       
    
        <apex:outputpanel layout="block" id="panelBlock">
          <apex:panelGrid columns="2" style="width:100%" id="panelGrid"> 
              <apex:outputpanel id="btnPanel">
                  <apex:commandButton status="status" reRender="block" value="{!$Label.EP_Pagination_First_Button_Label}" 
                            action="{!first}" disabled="{!!setCon.hasPrevious}" title="{!$Label.EP_Pagination_First_Button_Label}" id="pagingFirstBtn1"/>
                  <apex:commandButton status="status" reRender="block" value="{!$Label.EP_Pagination_Previous_Button_Label}" 
                            action="{!previous}" disabled="{!!setCon.hasPrevious}" title="{!$Label.EP_Pagination_Previous_Button_Label}" id="pagingPrevBtn1"/>
                  <apex:commandButton status="status" reRender="block" value="{!$Label.EP_Pagination_Next_Button_Label}" 
                            action="{!next}" title="{!$Label.EP_Pagination_Next_Button_Label}" disabled="{!!setCon.hasNext}" id="pagingNextBtn1"/>
                  <apex:commandButton status="status" reRender="block" value="{!$Label.EP_Pagination_Last_Button_Label}" 
                            action="{!last}" disabled="{!!setCon.hasNext}" title="{!$Label.EP_Pagination_Last_Button_Label}" id="pagingLastBtn1"/>
             </apex:outputpanel>
             
                 <apex:outputpanel layout="block" style="float:right" id="pageSizeSelectPanel">       
                     {!$Label.EP_Records_Per_Page_Label} 
                     <apex:selectList value="{!size}" multiselect="false" size="1" onchange="refreshPageSize();" id="recList">
                          <apex:selectOptions value="{!pageSizeOptions}" id="PageOptions"/>
                      </apex:selectList>
                  </apex:outputpanel>
              </apex:panelGrid>  
          </apex:outputpanel>
          
          <apex:pageBlockTable value="{!wrapperList}" var="wrapProd" id="pageBlockId" html-cid="pbTable" styleClass="dataTable" 
                    rendered="{!AND(NOT(ISNULL(wrapperList)),wrapperList.size!=0)}">
           <apex:column id="selectCol">
               <apex:facet name="header"> 
                     <apex:outputPanel id="hedaerPanel">
                       <!--<input type="checkbox" name="select_all" value="1" id="example-select-all"/>--> Select
                   </apex:outputPanel>
               </apex:facet>
               <!--DEFECT 47511 FIX START-->
               <apex:inputCheckbox value="{!wrapProd.isSelect}" id="isSelect" rendered="{!allowedPBModification}" onchange="checkPackageProduct('{!wrapProd.product.EP_Product_Sold_As__c}','{!wrapProd.isSelect}',this.id);"/>
               <!--DEFECT 47511 FIX END-->
               <apex:inputcheckbox value="{!wrapProd.packagedProduct}" id="packedProduct" style="display:none"/>
               <apex:outputPanel rendered="{!NOT(allowedPBModification)}">
                    <apex:image url="/img/checkbox_checked.gif" height="21" width="21" rendered="{!wrapProd.isSelect}"/>
                    <apex:image url="/img/checkbox_unchecked.gif" height="21" width="21" rendered="{!NOT(wrapProd.isSelect)}"/>
               </apex:outputPanel>
           </apex:column>
           <apex:column headerValue="{!$ObjectType.Product2.fields.Name.Label}" >
               <apex:outPutField value="{!wrapProd.Product.Name}"/>
           </apex:column>
           <apex:column headerValue="{!$ObjectType.Product2.fields.ProductCode.Label}">
               <apex:outPutField value="{!wrapProd.Product.ProductCode}"/>
           </apex:column>
            <apex:column value="{!wrapProd.product.EP_Product_Sold_As__c}" id="packegdProd">
               
           </apex:column>
           
       </apex:pageBlockTable>
      
      <apex:panelGrid columns="8" id="pabelgrid"> 
              
              <apex:commandButton status="status" reRender="block" value="{!$Label.EP_Pagination_First_Button_Label}" 
                        action="{!first}" disabled="{!!setCon.hasPrevious}" title="{!$Label.EP_Pagination_First_Button_Label}" id="pagingFirstBtn2"/>
              <apex:commandButton status="status" reRender="block" value="{!$Label.EP_Pagination_Previous_Button_Label}" 
                        action="{!previous}" disabled="{!!setCon.hasPrevious}" title="{!$Label.EP_Pagination_Previous_Button_Label}" id="pagingPrevBtn2"/>
              <apex:commandButton status="status" reRender="block" value="{!$Label.EP_Pagination_Next_Button_Label}" 
                        action="{!next}" title="{!$Label.EP_Pagination_Next_Button_Label}" disabled="{!!setCon.hasNext}" id="pagingNextBtn2"/>
              <apex:commandButton status="status" reRender="block" value="{!$Label.EP_Pagination_Last_Button_Label}" 
                        action="{!last}" disabled="{!!setCon.hasNext}" title="{!$Label.EP_Pagination_Last_Button_Label}" id="pagingLastBtn2"/>
            
          </apex:panelGrid>
       
      </apex:pageBlock>
 
    <apex:outputPanel >
        
         <apex:outputPanel >
            <apex:outputpanel rendered="{!AND(NOT(noProductListFlag), allowedPBModification)}">
                <!--<apex:commandButton value="{!$Label.EP_Save_Caption}" onclick="saveRecord();" reRender="msg"  />-->
                <a href="#" onclick="saveRecord();" style="text-Decoration:none;" class="btn">{!$Label.EP_Save_Caption}</a>
            </apex:outputpanel>
            <!--<apex:commandButton value="{!$Label.EP_Cancel}" action="{!doCancel}"/>-->
             <apex:commandLink value="{!$Label.EP_Cancel}" action="{!doCancel}" style="text-Decoration:none;" styleclass="btn"></apex:commandLink>
         </apex:outputPanel>
            
     </apex:outputPanel>
     <apex:inputHidden value="{!numberOfpackagedProductsSelected}" id="packgdProductSelected"/>  
     <script>
        /**DEFECT 47511 FIX START**/
        var j$ = jQuery.noConflict();
        function saveRecord(){
            var hiddenFieldId = '{!$Component.packgdProductSelected}';
            var packagedProductSelcted = false;
           
            //var tableId = '{!$Component.block:pageBlockId}';
            
            if(parseInt(document.getElementById(hiddenFieldId).value) > 0){
            	packagedProductSelcted = true;
            }
            else{
            	packagedProductSelcted = false;
            }
            
            /*for(var i=0; i< {!wrapperList.size}; i++){
                var selectedElem = document.getElementById(tableId+':'+i+':isSelect');
                var packedElem = document.getElementById(tableId+':'+i+':packedProduct');
                if(selectedElem != null && packedElem != null && packagedProductSelcted == false){
                    
                    packagedProductSelcted = selectedElem.checked && packedElem.checked;
                }
            }*/
            
            if(packagedProductSelcted){
                if(confirm("{!$Label.EP_Confirmation_Dialogue_Message_On_Packaged_Product_Selection}")){
                    saveProduct();
                }
                else{
                    return false;
                }
            }
            else{
                saveProduct();
            }
            return true;
        }
        
        function copyStandardValue(f, stValue, lPriceID) {
            var field = document.getElementById(lPriceID);
            alert('++++stValue'+stValue);
            if(f.checked){
                field.value = stValue;
                alert('+++field.value'+field.value);
                field.readOnly = true;
                field.disabled = true;
            }else{
                field.readOnly = false;
                field.disabled = false;
            }
        }
        
		function checkPackageProduct(productSoldAs,isActive,chckbox){
            var isSelect;
            var hiddenFieldId = '{!$Component.packgdProductSelected}';
            if('Packaged' == productSoldAs){  
                isSelect = document.getElementById(chckbox).checked;
                if(isSelect && isActive === 'false'){
            	document.getElementById(hiddenFieldId).value = parseInt(document.getElementById(hiddenFieldId).value) + 1;
               }
                else{
                	if(parseInt(document.getElementById(hiddenFieldId).value) > 0){
                    	document.getElementById(hiddenFieldId).value = parseInt(document.getElementById(hiddenFieldId).value) - 1;
                    }
                }
            }
        }
       /**DEFECT 47511 FIX END**/
       </script>
  
  
   <!-- <c:EP_AddProduct priceBookId="{!$CurrentPage.parameters.pbId}" companyId="{!$CurrentPage.parameters.cmpnyId}" AccountId="{!$CurrentPage.parameters.accId}" /> -->
 
  </apex:form>
</apex:page>