<apex:page controller="EP_CustomerOpenItemsViewController" id="CustomerOpenItemsView" >
    <apex:stylesheet value="{!URLFOR($Resource.EP_StyleLib, 'css/overlay.css')}" />
    
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"></link>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <c:EP_PerformanceMonitor />
    <style>
       th {
            width: 175px;
       }
    </style>
    <apex:sectionHeader id="searchTitle" title="{!sAccountName}"/>
        <apex:pageBlock title="{!$Label.EP_Customer_Open_Item_Statement_Summary}" id="coisPageBlock1">
            
                 <apex:pageBlockTable value="{!lstCSOIWrapper}" var="varline" id="coisPageBlockTable1">
                        <apex:column style="text-align:left;" id="totalInvoiceRemainingBalance">
                            <apex:facet name="header">
                                 {!$Label.EP_Invoice_and_Credit_Memo_Remaining_Balance}
                            </apex:facet>
                            <apex:outputText value="{0,number,###,###,###,##0.00}">
                                <apex:param value="{!varline.wrapInvRemainingBal }"/>
                            </apex:outputText>
                        </apex:column>
                         <apex:column style="text-align:left; width:0px;" id="totalCashAmountOnAccount">
                            <apex:facet name="header">
                                 {!$Label.EP_Total_Cash_Amount_On_Account}
                            </apex:facet>
                             <apex:outputText value="{0,number,###,###,###,##0.00}">
                                <apex:param value="{!varline.wrapCashAmtOnAcc}"/>
                            </apex:outputText>
                        </apex:column>
                        <apex:column style="text-align:left;" id="totalAmountOfOpenOrders">
                            <apex:facet name="header">
                                 {!$Label.EP_Total_Amount_of_Open_Orders}
                            </apex:facet>
                             <apex:outputText value="{0,number,###,###,###,##0.00}">
                                <apex:param value="{!varline.wrapAmtOfOpenOrders }"/>
                            </apex:outputText>
                        </apex:column>
                        <apex:column style="text-align:left;" id="totalDueAmount">
                            <apex:facet name="header">
                                 {!$Label.EP_Total_Due_Amount}
                            </apex:facet>
                             <apex:outputText value="{0,number,###,###,###,##0.00}">
                                <apex:param value="{!varline.wrapDueAmt  }"/>
                            </apex:outputText>
                        </apex:column>
                    </apex:pageBlockTable>
         </apex:pageBlock>   
         <apex:pageBlock title="{!$Label.EP_Open_Invoices_And_Credit_Memos}" id="coisPageBlock2">
                 <apex:pageBlockTable value="{!lstOICMWrapper}" var="varline" id="coisPageBlockTable2">
                        <apex:column style="text-align:left;" id="accountEntryDocumentDate">
                            <apex:facet name="header">
                                 {!$Label.EP_Account_Entry_Document_Date}
                            </apex:facet>
                            <apex:outputText >{!varline.wrapAccEntryDocDate}</apex:outputText>
                        </apex:column>
                         <apex:column style="text-align:left;" id="accountEntryType">
                            <apex:facet name="header">
                                 {!$Label.EP_Statement_Account_Entry_Type}
                            </apex:facet>
                            <apex:outputText >{!varline.wrapAccEntryType}</apex:outputText>
                            
                        </apex:column>
                        <apex:column style="text-align:left;" id="accountEntryCurrency">
                            <apex:facet name="header">
                                 {!$Label.EP_Statement_Account_Entry_Currency}
                            </apex:facet>
                            <apex:outputText >{!varline.wrapAccEntryCurr}</apex:outputText>
                            
                        </apex:column>
                        <apex:column style="text-align:left;" id="accountEntryAmount">
                            <apex:facet name="header">
                                 {!$Label.EP_Account_Entry_Remaining_Amount}
                            </apex:facet>
                             <apex:outputText value="{0,number,###,###,###,##0.00}">
                                 <apex:param value="{!varline.wrapAccEntryAmt }"/>
                            </apex:outputText>
                        </apex:column>         
              </apex:pageBlockTable>
         </apex:pageBlock>
         <apex:pageBlock title="{!$Label.EP_Open_Orders}" id="coisPageBlock3">
                 <apex:pageBlockTable value="{!lstOpenOrdWrapper }" var="varline" id="coisPageBlockTable3">
                       <apex:column style="text-align:left;" id="orderNumber">
                           <apex:facet name="header">
                                {!$Label.EP_Order_Number_Label}
                           </apex:facet>
                           <apex:outputLink id="wrapOrderNumberId" value="/{!varline.wrapOrderId }" target="_blank">{!varline.wrapOrderNumber }</apex:outputLink>                
                       </apex:column>
                        <apex:column style="text-align:left;" id="accountEntryCurrency">
                           <apex:facet name="header">
                                 {!$Label.EP_Statement_Account_Entry_Currency}
                           </apex:facet>
                            <apex:outputText >{!varline.wrapAccEntryCurr}</apex:outputText>
                       </apex:column>
                       <apex:column style="text-align:left;" id="accountEntryAmount">
                           <apex:facet name="header">
                                 {!$Label.EP_Statement_Account_Entry_Amount}
                           </apex:facet>
                            <apex:outputText value="{0,number,###,###,###,##0.00}">
                                <apex:param value="{!varline.wrapAccEntryAmt }"/>
                           </apex:outputText>
                       </apex:column>
                </apex:pageBlockTable>
         </apex:pageBlock>
</apex:page>