<apex:page controller="EP_ATRController" tabstyle="EP_ChangeRequest__c" id="ATRControllerPage">
	<apex:form id="ATRForm">
		<apex:pageMessages id="msg"/>
			<apex:pageBlock >
				<apex:pageBlockSection title="{!if(ATRSettings.Disable__c=true, 'Enable ATR', 'Disable ATR')}" columns="1" id="reqLineSection" collapsible="false">
				 
					<apex:commandButton rendered="{!!ATRSettings.Disable__c}" value="Disable ATR"  id="disablebtn" action="{!disableATR}"  reRender="ATRForm" />
					<apex:commandButton value="Enable ATR"  rendered="{!ATRSettings.Disable__c}" id="enablebtn" action="{!enableATR}"  reRender="ATRForm" />	
					  
				</apex:pageBlockSection>
			</apex:pageBlock>   
	</apex:form>
</apex:page>