<apex:page applyHtmlTag="false" standardStylesheets="false" showHeader="false" 
           sidebar="false" controller="TQAppController" > <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >

<head>
	<style type="text/css">
		.bgOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  z-index: 99999;
  opacity: 1;
  justify-content: center;
  align-items: center;
  display: block; }
  .bgOverlay.initialDisplayIsOver {
    display: none;
    background: rgba(0, 0, 0, 0.3); }
    .bgOverlay.initialDisplayIsOver.showLoadingSpinner {
      display: flex; }
  .bgOverlay :target {
    opacity: 1; }

.extend_1, body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-y: hidden; }

.Spinner {
  height: 28px;
  left: 50%;
  margin-left: -14px;
  position: absolute;
  top: 45%;
  width: 28px;
  animation: container-rotate 1600ms linear infinite; }

.Spinner-line {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0; }

.Spinner-line--1 {
  border-color: #4eb03c;
  animation: fill-unfill-rotate 4800ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, line-1-fade-in-out 4800ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

.Spinner-line--2 {
  border-color: #f03704;
  animation: fill-unfill-rotate 4800ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, line-2-fade-in-out 4800ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

.Spinner-line--3 {
  border-color: #d90018;
  animation: fill-unfill-rotate 4800ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, line-3-fade-in-out 4800ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

.Spinner-line--4 {
  border-color: #4eb03c;
  animation: fill-unfill-rotate 4800ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, line-4-fade-in-out 4800ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

.Spinner-line-cog {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-color: inherit; }

.Spinner-line-cog-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 200%;
  box-sizing: border-box;
  height: 100%;
  border-width: 3px;
  border-style: solid;
  border-color: inherit;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: none; }

.Spinner-line-cog-inner--left {
  border-right-color: transparen;
  transform: rotate(129deg);
  animation: left-spin 1200ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

.Spinner-line-cog-inner--right {
  left: -100%;
  border-left-color: transparen;
  transform: rotate(-129deg);
  animation: right-spin 1200ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

.Spinner-line-cog-inner--center {
  width: 1000%;
  left: -450%; }

.Spinner-line-ticker {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 45%;
  width: 10%;
  height: 100%;
  overflow: hidden;
  border-color: inherit; }

@-webkit-keyframes container-rotate {
  to {
    transform: rotate(360deg); } }

@keyframes container-rotate {
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes fill-unfill-rotate {
  25% {
    transform: rotate(270deg); }
  50% {
    transform: rotate(540deg); }
  75% {
    transform: rotate(810deg); }
  to {
    transform: rotate(1080deg); }
  0.5% {
    transform: rotate(135deg); }
  1.5% {
    transform: rotate(405deg); }
  2.5% {
    transform: rotate(675deg); }
  3.5% {
    transform: rotate(945deg); } }

@keyframes fill-unfill-rotate {
  25% {
    transform: rotate(270deg); }
  50% {
    transform: rotate(540deg); }
  75% {
    transform: rotate(810deg); }
  to {
    transform: rotate(1080deg); }
  0.5% {
    transform: rotate(135deg); }
  1.5% {
    transform: rotate(405deg); }
  2.5% {
    transform: rotate(675deg); }
  3.5% {
    transform: rotate(945deg); } }

@-webkit-keyframes left-spin {
  0% {
    transform: rotate(130deg); }
  50% {
    transform: rotate(-5deg); }
  to {
    transform: rotate(130deg); } }

@keyframes left-spin {
  0% {
    transform: rotate(130deg); }
  50% {
    transform: rotate(-5deg); }
  to {
    transform: rotate(130deg); } }

@-webkit-keyframes right-spin {
  0% {
    transform: rotate(-130deg); }
  50% {
    transform: rotate(5deg); }
  to {
    transform: rotate(-130deg); } }

@keyframes right-spin {
  0% {
    transform: rotate(-130deg); }
  50% {
    transform: rotate(5deg); }
  to {
    transform: rotate(-130deg); } }

@-webkit-keyframes line-1-fade-in-out {
  0% {
    opacity: 1; }
  25% {
    opacity: 1; }
  26% {
    opacity: 0; }
  89% {
    opacity: 0; }
  90% {
    opacity: 1; }
  to {
    opacity: 1; } }

@keyframes line-1-fade-in-out {
  0% {
    opacity: 1; }
  25% {
    opacity: 1; }
  26% {
    opacity: 0; }
  89% {
    opacity: 0; }
  90% {
    opacity: 1; }
  to {
    opacity: 1; } }

@-webkit-keyframes line-2-fade-in-out {
  0% {
    opacity: 0; }
  15% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 1; }
  51% {
    opacity: 0; } }

@keyframes line-2-fade-in-out {
  0% {
    opacity: 0; }
  15% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 1; }
  51% {
    opacity: 0; } }

@-webkit-keyframes line-3-fade-in-out {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 1; }
  75% {
    opacity: 1; }
  76% {
    opacity: 0; } }

@keyframes line-3-fade-in-out {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 1; }
  75% {
    opacity: 1; }
  76% {
    opacity: 0; } }

@-webkit-keyframes line-4-fade-in-out {
  0% {
    opacity: 0; }
  65% {
    opacity: 0; }
  75% {
    opacity: 1; }
  90% {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes line-4-fade-in-out {
  0% {
    opacity: 0; }
  65% {
    opacity: 0; }
  75% {
    opacity: 1; }
  90% {
    opacity: 1; }
  to {
    opacity: 0; } }

	</style>
	<script>
		window["adrum-app-key"] = '{!adrumAppKey}' === '{!adrumappkey}'?'{!adrumAppKey}':'AD-AAB-AAC-BAS';
		window["adrum-start-time"] = new Date().getTime();
	</script>
	<base href="/" />
	<meta charset="utf-8" ></meta>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" ></meta>
	<meta name="format-detection" content="telephone=no" ></meta>
	<script src="https://cdn.appdynamics.com/adrum/adrum-latest.js"></script>
	<title ng-bind="pageTitle"></title>

	<script type="text/javascript">
		var ua = window.navigator.userAgent;
		var old_ie = ua.indexOf('MSIE ');
		var new_ie = ua.indexOf('Trident/');

		if ((old_ie > -1) || (new_ie > -1)) {
			var file = document.createElement('script');
			file.setAttribute("type", "text/javascript");
			file.setAttribute("src", "polyfill.min.js");
			//commenting that out, as the polyfill is currently loaded for all browsers
			//document.getElementsByTagName("head")[0].appendChild(file);

		}


		window.sfAppId = 'puma-portal';
		window.themeId = '';
		window.tqScreenOrientation = 'vertical';
		window.staticResourcePath = '{!URLFOR($Resource.EP_FE_1506_1040)}';
		window.visualForceExecution = "{!'TRUE'}";

		/**
		 * Returns a value that is either the correct path for the Salesforce Static Resource file,
		 * or an empty string in case the application is not running in a VisualForce page (e.g. local development).
		 *
		 * Also note: This method will always return a path that has a trailing slash ( in case of running in a VF
		 * page).
		 *
		 */
		window.getSfdcStaticResourcePathSafe = function() {

			var notRunningInVisualForce = window.staticResourcePath.indexOf('URLFOR($Resource.ACNONE_') > -1;

			if (notRunningInVisualForce) {
				return '';
			} else {
				var hasTrailingSlash = window.staticResourcePath.lastIndexOf('/') === window.staticResourcePath.length - 1;

				if (hasTrailingSlash) {
					return window.staticResourcePath;
				} else {
					return window.staticResourcePath.concat('/');
				}

			}
		};


		// to work inside VF, save the sessionId so the login process can use it
		window.accentureONECore = {
			sessionId: '{!$Api.Session_Id}',
			userId: '{!$User.Id}',
			siteUrl: '{!$Site.BaseUrl}',
			communityId: '{!NetworkId}'
		};

		var __sfdcSessionId = '{!GETSESSIONID()}',
			__sfdcSiteUrlPrefix = '{!$Site.Prefix}';
		window.sitePrefix = '{!$Site.Prefix}';
		window.appVersion = '1.8.0';
		window.frameworkVersion = '1.8.0';

		//config done in grunt
		window.ENV_VARS = {
			deploymentEnv: 'develop'
		};
	</script>

	
		<script>
			window.autoAuthConfig = {"loginUrl":"https://localhost:3001","clientId":"3MVG954MqIw6FnnPvAfViE7V9odo9pA106HMJM0UtrF4JykVPyBfvXwFyaCkpNV4lngP0lyhPjSgaJu6nsdb1","clientSecret":"5897729230897782081","proxyUrl":"https://localhost:3001","redirectUri":"https://localhost:3000/services/oauth2/success","credentials":{"username":"cihan.sunar@accenture.com.ginteg","password":"Cs23533120fPz0uzBbBWZUaOHdB8y32Bk8q"}};
		</script>
		

</head>

<body class="puma-portal " ng-class="{true:'tq-content-has-footer', false: ''}[showFooter]">
	<app>
		<div class="bgOverlay" ng-class="{'showLoadingSpinner': $ctrl.loading, 'initialDisplayIsOver': $ctrl.initialDisplayIsOver}">
	<div class="Spinner"><!--
    --><div class="Spinner-line Spinner-line--1"><!--
        --><div class="Spinner-line-cog"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--left"></div><!--
        --></div><!--
        --><div class="Spinner-line-ticker"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--center"></div><!--
        --></div><!--
        --><div class="Spinner-line-cog"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--right"></div><!--
        --></div><!--
    --></div><!--
    --><div class="Spinner-line Spinner-line--2"><!--
        --><div class="Spinner-line-cog"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--left"></div><!--
        --></div><!--
        --><div class="Spinner-line-ticker"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--center"></div><!--
        --></div><!--
        --><div class="Spinner-line-cog"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--right"></div><!--
        --></div><!--
    --></div><!--
    --><div class="Spinner-line Spinner-line--3"><!--
        --><div class="Spinner-line-cog"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--left"></div><!--
        --></div><!--
        --><div class="Spinner-line-ticker"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--center"></div><!--
        --></div><!--
        --><div class="Spinner-line-cog"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--right"></div><!--
        --></div><!--
    --></div><!--
    --><div class="Spinner-line Spinner-line--4"><!--
        --><div class="Spinner-line-cog"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--left"></div><!--
        --></div><!--
        --><div class="Spinner-line-ticker"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--center"></div><!--
        --></div><!--
        --><div class="Spinner-line-cog"><!--
            --><div class="Spinner-line-cog-inner Spinner-line-cog-inner--right"></div><!--
        --></div><!--
    --></div><!--

--></div>
</div>

	</app>
	<loading-spinner></loading-spinner>
<script src="/resource/884/EP_FE_1506_1040/b6518daa8587c09b97e2.js"></script><script src="/resource/884/EP_FE_1506_1040/main.b6518daa8587c09b97e2.js"></script></body>

</html> </apex:page>