<apex:page standardController="csord__Order__c" extensions="EP_OrderSyncCtrlExtn"  contentType="application/xml" showChat="false" showHeader="false" sidebar="false" standardStylesheets="false">
    <MSG>
        <c:EP_OutboundMessageHeader headerObj="{!headerObj}" />
        <Payload>
            <any0>{!encodedPayload}</any0>
        </Payload>
        <StatusPayload></StatusPayload>
    </MSG>
</apex:page>