<apex:page controller="EP_PortalCancelOrderPageController">

<script type="text/javascript" src="{!URLFOR($Resource.cscfga__jQuery_min)}"></script>
<script type="text/javascript">
	jQuery(document).ready(function() {

		var orderId = '{!$CurrentPage.parameters.cancelOrderId}';

		Visualforce.remoting.Manager.invokeAction(
            '{!$RemoteAction.EP_PortalCancelOrderPageController.cancelOrder}',
        	orderId,
            function(result, event) {
            	document.getElementById( "{!$Component.result}").innerHTML = "<b>Result: </b>"+result;
            },
            {escape: false}
        );
	});
</script>
	<apex:outputText id="result"/>
</apex:page>