<apex:page title="{!$Label.EP_Please_Pay_Online}" controller="EP_PaymentPageController" >
    <c:EP_PerformanceMonitor />
    
    <br/><br/><br/><br/><br/><br/><br/>
    <apex:form >
        <center>
            <apex:commandButton value="{!$Label.EP_Pay}" action="{!makePayment}"/>
            <apex:commandButton value="{!$Label.EP_Cancel_Label}" action="{!cancelPayment}"/> 
            
        </center>
    </apex:form>
    
    
</apex:page>