<apex:page controller="EP_webToLeadExtension" sidebar="false"
    ShowHeader="False" id="webToLead" action="{!createCountryPicklist}">
    <c:EP_PerformanceMonitor />

    <apex:form id="webleadcreationform"
        rendered="{!NOT(isShowConfirmation)}">
        
        <apex:pageblock title="{!$Label.EP_Customer_Application_From_Title}"
            tabStyle="Lead" id="leadPageBlock">
            <apex:pageBlockSection title="{!$Label.EP_Customer_Details}"
                collapsible="false" columns="2" id="leadsectioncontactus">
                <apex:inputField value="{!leadObj.Salutation}" id="salutation"/>
                <apex:pageblockSectionItem id="fnamepblockSec" >
                    <apex:outputLabel id="fName">{!$ObjectType.Lead.fields.FirstName.label}</apex:outputLabel>
                    <apex:outputPanel layout="block" styleClass="requiredInput" id="fnameoutpanel">
                    <apex:outputPanel styleClass="requiredBlock" layout="block" id="fnamePanel"/>
                       <apex:inputField value="{!leadObj.FirstName}" required="false"
                        id="FstName"/>     
                    </apex:outputPanel>
                </apex:pageblockSectionItem>
                <apex:pageblockSectionItem id="lnamepblockSec" >
                    <apex:outputLabel id="lName">{!$ObjectType.Lead.fields.LastName.label}</apex:outputLabel>
                    <apex:outputPanel layout="block" styleClass="requiredInput" id="lnameoutpanel">
                    <apex:outputPanel styleClass="requiredBlock" layout="block" id="lnamePanel"/>
                        <apex:inputField value="{!leadObj.LastName}" required="false"
                    id="LstName" />  
                    </apex:outputPanel>
                </apex:pageblockSectionItem>
                
                <apex:pageblockSectionItem id="titlepblockSec" >
                    <apex:outputLabel id="titleLable">{!$ObjectType.Lead.fields.title.label}</apex:outputLabel>
                    <apex:outputPanel layout="block" styleClass="requiredInput" id="titleoutpanel">
                    <apex:outputPanel styleClass="requiredBlock" layout="block" id="titlePanel"/>
                        <apex:inputField value="{!leadObj.Title}" required="false" id="Title" />
                     
                    </apex:outputPanel>
                </apex:pageblockSectionItem>       
                <apex:pageblockSectionItem id="cmpnypblockSec" >
                    <apex:outputLabel id="company">{!$ObjectType.Lead.fields.Company.label}</apex:outputLabel>
                    <apex:outputPanel layout="block" styleClass="requiredInput" id="companyoutpanel">
                    <apex:outputPanel styleClass="requiredBlock" layout="block" id="comanyPanel"/>
                        <apex:inputField value="{!leadObj.Company}" required="false" label="{!$Label.EP_Company_Label}" id="Cmy" />
                     
                    </apex:outputPanel>
                </apex:pageblockSectionItem>
                <apex:pageblockSectionItem id="StrtpblockSec" >
                    <apex:outputLabel id="streetlbl">{!$ObjectType.Lead.fields.Street.label}</apex:outputLabel>
                    <apex:outputPanel layout="block" styleClass="requiredInput" id="Strtoutpanel">
                    <apex:outputPanel styleClass="requiredBlock" layout="block" id="StrtPanel"/>
                        <apex:inputField value="{!leadObj.Street}" required="false"
                    id="Street" />
                    </apex:outputPanel>
                </apex:pageblockSectionItem>       
                <apex:pageblockSectionItem id="CitypblockSec" >
                    <apex:outputLabel id="citylbl">{!$ObjectType.Lead.fields.City.label}</apex:outputLabel>
                    <apex:outputPanel layout="block" styleClass="requiredInput" id="Cityoutpanel">
                    <apex:outputPanel styleClass="requiredBlock" layout="block" id="CityPanel"/>
                        <apex:inputField value="{!leadObj.City}" required="false" id="City" />
                    </apex:outputPanel>
                </apex:pageblockSectionItem>      
                <apex:pageblockSectionItem id="StatepblockSec" >
                    <apex:outputLabel id="statelbl">{!$ObjectType.Lead.fields.State.label}</apex:outputLabel>
                    <apex:outputPanel layout="block" styleClass="requiredInput" id="Stateoutpanel">
                    <apex:outputPanel styleClass="requiredBlock" layout="block" id="StatePanel"/>
                        <apex:inputField value="{!leadObj.State}" required="false" id="State" />
                    </apex:outputPanel>
                </apex:pageblockSectionItem>        
               
                <!--Commented Country for WU1-->
                <!--<apex:inputField value="{!leadObj.Country}" required="false"
                    id="Country" />-->
               
                <apex:pageblockSectionItem id="pgbcountrypick" >
                    <apex:outputLabel id="contry">Country</apex:outputLabel>
                    <apex:outputPanel layout="block" styleClass="requiredInput" id="countrypickoutpanel">
                    <apex:outputPanel styleClass="requiredBlock" layout="block" id="countrypickPanel"/>
               <apex:actionRegion renderRegionOnly="false" id="rgn">
                    <apex:selectList multiselect="false" size="1" value="{!country}" id="CountryPick" label="Country"  >
                        <apex:selectOptions value="{!listOfCountryNameId}" id="cntryOptions"/>
                        <apex:actionSupport id="actSupport" action="{!mapCrncyCountry}" reRender="currencyCode,DlvryCountryPicklist,DlvryRegionPicklist,regionerrPanel" event="onchange" />
                    </apex:selectList>
                 <!-- <apex:selectList multiselect="false" size="1" value="{!deliveryCountry}" id="DlvryCountryPicklist" label="Delivery Country">
                        <apex:selectOptions value="{!listOfCountryNameId}"/>
                </apex:selectList>  --> 
                </apex:actionRegion>         
                    
                    </apex:outputPanel>
                </apex:pageblockSectionItem>
                
                <apex:pageblockSectionItem id="pstpblockSec" >
                    <apex:outputLabel id="postalcodelabel">{!$ObjectType.Lead.fields.PostalCode.label}</apex:outputLabel>
                    <apex:outputPanel layout="block" styleClass="requiredInput" id="pstoutpanel">
                    <apex:outputPanel styleClass="requiredBlock" layout="block" id="pstPanel"/>
                        <apex:inputField value="{!leadObj.PostalCode}" required="false"
                    id="Pst" />  
                    </apex:outputPanel>
                </apex:pageblockSectionItem>  
                
                <apex:OutputText label="{!$Label.EP_Currency_Label}" value="{!currencyCode}" id="crncyCode"/>
                
                <apex:pageblockSectionItem id="emailpblockSec" >
                    <apex:outputLabel id="emailLabel">{!$ObjectType.Lead.fields.Email.label}</apex:outputLabel>
                    <apex:outputPanel layout="block" styleClass="requiredInput" id="emailoutpanel">
                    <apex:outputPanel styleClass="requiredBlock" layout="block" id="emailPanel"/>
                        <apex:inputField value="{!leadObj.Email}" required="false" id="email" />
                    </apex:outputPanel>
                </apex:pageblockSectionItem>  
                
                <apex:pageblockSectionItem id="phnpblockSec" >
                    <apex:outputLabel id="phonelabel">{!$ObjectType.Lead.fields.Phone.label}</apex:outputLabel>
                    <apex:outputPanel layout="block" styleClass="requiredInput" id="phnoutpanel">
                    <apex:outputPanel styleClass="requiredBlock" layout="block" id="phnPanel"/>
                        <apex:inputField value="{!leadObj.Phone}" required="false" id="phone" />
                    </apex:outputPanel>
                </apex:pageblockSectionItem>  
                
                
                <apex:inputField value="{!leadObj.MobilePhone}" id="Mobile" />
                <apex:inputField value="{!leadObj.Fax}" id="Fax" />
                
                <!--<apex:pageblockSectionItem id="cmpnytaxpblockSec" >
                    <apex:outputLabel >{!$ObjectType.Lead.fields.EP_Company_Tax_Number__c.label}</apex:outputLabel>
                    <apex:outputPanel layout="block" styleClass="requiredInput" id="cmpnytaxoutpanel">
                    <apex:outputPanel styleClass="requiredBlock" layout="block" id="cmpnytaxPanel"/>
                        <apex:inputField value="{!leadObj.EP_Company_Tax_Number__c}"
                    required="false" id="Ctn" />
                    </apex:outputPanel>
                </apex:pageblockSectionItem> -->
               
               <apex:pageblockSectionItem id="pmcpblockSec" >
                    <apex:outputLabel id="pmoComm">{!$ObjectType.Lead.fields.EP_Preferred_Mode_of_Communication__c.label}</apex:outputLabel>
                    <apex:outputPanel layout="block" styleClass="requiredInput" id="pmcoutpanel">
                    <apex:outputPanel styleClass="requiredBlock" layout="block" id="pmcpanel"/>
                       <apex:inputField value="{!leadObj.EP_Preferred_Mode_of_Communication__c}"
                    required="false" id="Pmoc" />
                    </apex:outputPanel>
                </apex:pageblockSectionItem> 
                
                 <apex:pageblockSectionItem id="ptcpbblock" >
                    <apex:outputLabel id="ptocomm">{!$ObjectType.Lead.fields.EP_Preferred_Time_of_Communication__c.label}</apex:outputLabel>
                    <apex:outputPanel layout="block" styleClass="requiredInput" id="ptcoutpanel">
                    <apex:outputPanel styleClass="requiredBlock" layout="block" id="ptcPanel"/>
                        <apex:inputField value="{!leadObj.EP_Preferred_Time_of_Communication__c}"
                    required="false" id="Ptoc" />
                    </apex:outputPanel>
                </apex:pageblockSectionItem>       
                
                <apex:pageblockSectionItem id="rpmpblockSec" >
                    <apex:outputLabel id="reqpterm">{!$ObjectType.Lead.fields.EP_Requested_Payment_Method__c.label}</apex:outputLabel>
                    <apex:outputPanel layout="block" styleClass="requiredInput" id="rpmoutpanel">
                    <apex:outputPanel styleClass="requiredBlock" layout="block" id="rpmPanel"/>
                       <apex:inputField value="{!leadObj.EP_Requested_Payment_Method__c}"
                    required="false" id="Rpm" />
                    </apex:outputPanel>
                </apex:pageblockSectionItem>      
               
                <apex:pageblockSectionItem id="lead-section-req-pay-term" >
                    <apex:outputLabel id="lead-label-rer-pay-ter">{!$ObjectType.Lead.fields.EP_Requested_Payment_Terms__c.label}</apex:outputLabel>
                    <apex:outputPanel layout="block" styleClass="requiredInput" id="titleoutpanel">
                    <apex:outputPanel styleClass="requiredBlock" layout="block" id="lnamePanel"/>
                       <apex:actionRegion immediate="true" id="lead-region-req-paym-term">
                        <apex:inputField value="{!leadObj.EP_Requested_Payment_Terms__c}"
                            required="false" id="Rpt">
                           <!-- <apex:actionSupport event="onchange" rerender="pmtpnl"
                                id="lead-support-onchange" />-->
                        </apex:inputField>
                    </apex:actionRegion>
                    </apex:outputPanel>
                </apex:pageblockSectionItem>      
                
                

               <!-- <apex:outputPanel id="pmtpnl">
                    <apex:panelGrid columns="2" id="lead-grid-bank-iban"
                        style="margin-left:28%">
                        <apex:pageBlockSection columns="1" id="lead-section-bank-iban" >
                            <apex:inputField value="{!leadObj.EP_IBAN__c}"
                                
                                id="iban" rendered="{!if(AND(leadObj.EP_Requested_Payment_Terms__c != 'PrePayment',leadObj.EP_Requested_Payment_Terms__c !='Cash on Delivery'),false,true)}"/>
                            <apex:inputField value="{!leadObj.EP_Bank_Name__c}"
                                
                                id="bankName" rendered="{!if(AND(leadObj.EP_Requested_Payment_Terms__c != 'PrePayment',leadObj.EP_Requested_Payment_Terms__c !='Cash on Delivery'),false,true)}"/>
                        
                        <apex:pageblockSectionItem id="ibanreqpblockSec" rendered="{!if(AND(leadObj.EP_Requested_Payment_Terms__c != 'PrePayment',leadObj.EP_Requested_Payment_Terms__c !='Cash on Delivery'),true,false)}">
                            <apex:outputLabel >{!$ObjectType.Lead.fields.EP_IBAN__c.label}</apex:outputLabel>
                            <apex:outputPanel layout="block" styleClass="requiredInput" id="ibanreqoutpanel">
                            <apex:outputPanel styleClass="requiredBlock" layout="block" id="ibanreqPanel"/>
                                <apex:inputField value="{!leadObj.EP_IBAN__c}" id="ibanreq"/>
                                
                            </apex:outputPanel>
                        </apex:pageblockSectionItem> 
                        <apex:pageblockSectionItem id="bankpbblockSec" rendered="{!if(AND(leadObj.EP_Requested_Payment_Terms__c != 'PrePayment',leadObj.EP_Requested_Payment_Terms__c !='Cash on Delivery'),true,false)}">
                        <apex:outputLabel >{!$ObjectType.Lead.fields.EP_Bank_Name__c.label}</apex:outputLabel>
                        <apex:outputPanel layout="block" styleClass="requiredInput" id="bankoutpanel">
                        <apex:outputPanel styleClass="requiredBlock" layout="block" id="bankPanel"/>
                           <apex:inputField value="{!leadObj.EP_Bank_Name__c}"
                            required="false" id="bank" />
                        </apex:outputPanel>
                    </apex:pageblockSectionItem>     
                             
                        </apex:pageBlockSection>
                    </apex:panelGrid>
                </apex:outputPanel>-->
                
                
                 <apex:pageblockSectionItem id="lead-section-pro-int-in" >
                    <apex:outputLabel value="{!$ObjectType.Lead.fields.EP_Products_Interested_In__c.label}"
                        id="lead-label-product" />
                    <apex:outputPanel layout="block" styleClass="requiredInput" id="proinoutpanel">
                    <apex:outputPanel styleClass="requiredBlock" layout="block" id="prointPanel"/>
                       <apex:actionRegion immediate="true" id="rgn1">
                        <apex:inputField value="{!leadObj.EP_Products_Interested_In__c}"
                            required="false" id="Productinteresred">
                           
                        </apex:inputField>
                    </apex:actionRegion>
                    </apex:outputPanel>
                </apex:pageblockSectionItem>      
                <apex:inputfield value="{!leadObj.EP_Requested_Packaged_Payment_Terms__c}" id="reqPackPayTerm"/>

               

               <!-- <apex:outputPanel id="lead-panel-fuel-vol" style="width:50%">
                    <apex:panelGrid columns="1" id="lead-grid-fuel"
                        style="margin-left:23%">
                        <apex:pageBlockSection columns="1" id="lead-section-ind-fuel-vol">
                            <apex:inputField value="{!leadObj.EP_Indicative_Fuel_Volume__c}"
                                id="fuelValue" styleClass="fld_fuel"
                                rendered="{!IF(CONTAINS(leadObj.EP_Products_Interested_In__c,fuel),false,true)}" />
                            
                            
                         <apex:pageblockSectionItem id="fuelpbblockSec" rendered="{!IF(CONTAINS(leadObj.EP_Products_Interested_In__c,fuel),true,false)}">
                                <apex:outputLabel >{!$ObjectType.Lead.fields.EP_Indicative_Fuel_Volume__c.label}</apex:outputLabel>
                                <apex:outputPanel layout="block" styleClass="requiredInput" id="fueloutpanel">
                                <apex:outputPanel styleClass="requiredBlock" layout="block" id="fuelPanel"/>
                                   <apex:inputField value="{!leadObj.EP_Indicative_Fuel_Volume__c}"
                                    required="false" id="fuel" />
                                </apex:outputPanel>
                            </apex:pageblockSectionItem>  
                            
                            &nbsp;
                            <apex:inputField value="{!leadObj.EP_Indicative_Order_Frequency__c}"
                                rendered="{!IF(CONTAINS(leadObj.EP_Products_Interested_In__c,fuel),false,true)}"/>
                                
                                
                            <apex:pageblockSectionItem id="fuelfreqpbblockSec" rendered="{!IF(CONTAINS(leadObj.EP_Products_Interested_In__c,fuel),true,false)}">
                                <apex:outputLabel >{!$ObjectType.Lead.fields.EP_Indicative_Order_Frequency__c.label}</apex:outputLabel>
                                <apex:outputPanel layout="block" styleClass="requiredInput" id="fuelfreqoutpanel">
                                <apex:outputPanel styleClass="requiredBlock" layout="block" id="fuelfreqPanel"/>
                                   <apex:inputField value="{!leadObj.EP_Indicative_Order_Frequency__c}"
                                    required="false" id="fuelfreq" />
                                </apex:outputPanel>
                            </apex:pageblockSectionItem> 
                            
                                   
                            <apex:inputField value="{!leadObj.EP_Indicative_Lubes_Volume__c}"
                                id="lubesValue" styleClass="fld_lubes"
                                rendered="{!IF(CONTAINS(leadObj.EP_Products_Interested_In__c,lubes),false,true)}"  />
                                
                          <apex:pageblockSectionItem id="lubepbblockSec" rendered="{!IF(CONTAINS(leadObj.EP_Products_Interested_In__c,lubes),true,false)}">
                                <apex:outputLabel >{!$ObjectType.Lead.fields.EP_Indicative_Lubes_Volume__c.label}</apex:outputLabel>
                                <apex:outputPanel layout="block" styleClass="requiredInput" id="lubeoutpanel">
                                <apex:outputPanel styleClass="requiredBlock" layout="block" id="lubePanel"/>
                                   <apex:inputField value="{!leadObj.EP_Indicative_Lubes_Volume__c}"
                                    required="false" id="lube" />
                                </apex:outputPanel>
                            </apex:pageblockSectionItem>
                                
                                
                            <apex:inputField value="{!leadObj.EP_Indicative_Order_Frequency_Lubes__c}"
                                rendered="{!IF(CONTAINS(leadObj.EP_Products_Interested_In__c,lubes),false,true)}"/>
                                
                                
                           <apex:pageblockSectionItem id="lubefreqpbblockSec" rendered="{!IF(CONTAINS(leadObj.EP_Products_Interested_In__c,lubes),true,false)}">
                                <apex:outputLabel >{!$ObjectType.Lead.fields.EP_Indicative_Order_Frequency_Lubes__c.label}</apex:outputLabel>
                                <apex:outputPanel layout="block" styleClass="requiredInput" id="lubefreqoutpanel">
                                <apex:outputPanel styleClass="requiredBlock" layout="block" id="lubefreqPanel"/>
                                   <apex:inputField value="{!leadObj.EP_Indicative_Order_Frequency_Lubes__c}"
                                    required="false" id="lubefreq" />
                                </apex:outputPanel>
                            </apex:pageblockSectionItem>
                            
                       
                                    
                        </apex:pageBlockSection>
                        
                       
                        
                        
                    </apex:panelGrid>
                </apex:outputPanel>-->
                 
                 
                 <apex:pageblockSectionItem id="indpbblockSec" >
                            <apex:outputLabel id="indicativeValueLabel">{!$ObjectType.Lead.fields.EP_Indicative_Total_Pur_Value_Per_Yr__c.label}</apex:outputLabel>
                                <apex:outputPanel layout="block" styleClass="requiredInput" id="indoutpanel">
                                    <apex:outputPanel styleClass="requiredBlock" layout="block" id="indPanel"/>
                                       <apex:inputField value="{!leadObj.EP_Indicative_Total_Pur_Value_Per_Yr__c}"
                                        required="false" id="indvolperyear" />
                                    </apex:outputPanel>
                        </apex:pageblockSectionItem>
                <apex:inputField value="{!leadObj.EP_Additional_Customer_Comments__c}" id="Addccomm" />
            </apex:pageBlockSection>
            
            <apex:pageblockSection title="{!$Label.EP_Delivery_Pickup_Details}" id="dlverysec" collapsible="false">
                <apex:pageblockSectionItem id="dlvrytypepbblockSec" >
                    <apex:outputLabel id="dtypelable">{!$ObjectType.Lead.fields.EP_Delivery_Type__c.label}</apex:outputLabel>
                        <apex:outputPanel layout="block" styleClass="requiredInput" id="dlvrytypeoutpanel">
                            <apex:outputPanel styleClass="requiredBlock" layout="block" id="indPanel"/>
                               <apex:inputField value="{!leadObj.EP_Delivery_Type__c}"
                                required="false" id="dlvrytype" />
                            </apex:outputPanel>
                </apex:pageblockSectionItem>
                
                <apex:outputLabel id="Blankout"></apex:outputLabel>
                
                <apex:pageblockSectionItem id="dlvrysection" >
                    <apex:outputLabel id="delCon">{!$ObjectType.Lead.fields.EP_Delivery_Country__c.label}</apex:outputLabel>
                    <apex:outputPanel layout="block" styleClass="requiredInput" id="reqBlock1">
                    <apex:outputPanel styleClass="requiredBlock" layout="block" id="dlvryPnl"/>
                       <apex:selectList multiselect="false" size="1" value="{!deliveryCountry}" id="DlvryCountryPicklist" label="Delivery Country">
                            <apex:selectOptions value="{!listOfCountryNameId}" id="conOption"/>
                            <apex:actionSupport action="{!mapRegion}" reRender="DlvryRegionPicklist,regionerrPanel" event="onchange" id="actSupCon"/>
                    </apex:selectList>
                    </apex:outputPanel>
                </apex:pageblockSectionItem>
                 <apex:pageblockSectionItem id="regionsection">
                    <apex:outputLabel id="regionlable">{!$ObjectType.Lead.fields.EP_Region__c.label}</apex:outputLabel>
                        <apex:outputPanel layout="block" styleClass="requiredInput" id="reqBlock2">
                        <apex:outputPanel styleClass="requiredBlock" layout="block" id="regionPnl"/>
                           <apex:selectList multiselect="false" size="1" value="{!region}" styleClass="{!IF(isRegionErr,'error','')}" id="DlvryRegionPicklist">
                                <apex:selectOptions value="{!listOfRegionNameId}" id="regOption"/>
                                
                        </apex:selectList><br></br>
                        
                        
                     <apex:outputPanel id="regionerrPanel">
                        <b><apex:outputText value="{!$Label.EP_ERROR}" styleClass="errorMsg" rendered="{!isRegionErr}" id="regionerr"/></b>    
                        <apex:outputText value="{!$Label.EP_Reqd_Field_Err}" styleClass="errorMsg" rendered="{!isRegionErr}" id="regionerrText"/>   
                    </apex:outputPanel>
                       

                        </apex:outputPanel>
                </apex:pageblockSectionItem>
                
                
                
            </apex:pageblockSection>
          
            
            <apex:pageBlockButtons location="bottom" id="lead-button-save-cancel">
                <apex:outputPanel id="lead-panel-button">
                    <apex:commandButton value="{!$Label.EP_Save}" action="{!saveLead}" id="saveBtn"/>
                    <apex:commandButton value="{!$Label.EP_Cancel}"
                        onclick="this.form.reset();return false;" id="cancelBtn" />
                </apex:outputPanel>
            </apex:pageBlockButtons>
            
        </apex:pageblock>
      
        
    </apex:form>
    
    <apex:outputPanel rendered="{!isShowConfirmation}"
        style="color:green;font-weight:bold;Font-size:250%;" id="msgpnl">
        <br />
        <br />
        <apex:outputLabel value=" {!$Label.EP_Customer_Application_Success_Message} - {!caseNumber} " id="fixMsg"/>
    </apex:outputPanel>
    
</apex:page>