<!-- 
    @Author <Vijay Ganji>
    @name <EP_TankSyncXML>
    @CreateDate <02/08/2017>
    @Description <This page will be use to generate XML for Account> 
    @Version <1.0>
-->
<apex:page standardController="EP_Tank__c" extensions="EP_TankSyncCtrlExtn" action="{!checkPageAccess}" contentType="application/xml" showChat="false" showHeader="false" sidebar="false" standardStylesheets="false">
    <MSG>
        <c:EP_OutboundMessageHeader headerObj="{!headerObj}" />
        <Payload>
            <any0>{!encodedPayload}</any0>
        </Payload>
        <!--<StatusPayload>{!Account.EP_Status__c}</StatusPayload>-->
        <StatusPayload></StatusPayload>
    </MSG>
</apex:page>