<apex:page standardController="EP_Tank__c" extensions="EP_TankCreationPayloadCtrlExtn" action="{!checkPageAccess}" contentType="application/xml" showChat="false" showHeader="false" sidebar="false" standardStylesheets="false">
    <shipToAddresses>
        <shipToAddress>
            <seqId>{!shipToSeqId}</seqId>
            <identifier>
                <shipToId>{!EP_Tank__c.EP_Ship_To__r.EP_Account_Id__c}</shipToId>
                <custId>{!EP_Tank__c.EP_Ship_To__r.Parent.EP_Account_Id__c}</custId>
                <entrprsId>{!EP_Tank__c.EP_Ship_To__r.EP_EnterpriseId__c}</entrprsId>
            </identifier>
            <name>{!EP_Tank__c.EP_Ship_To__r.Name}</name>
            <name2>{!EP_Tank__c.EP_Ship_To__r.EP_Account_Name_2__c}</name2>
            <cntryCode>{!EP_Tank__c.EP_Ship_To__r.EP_Country_Code__c}</cntryCode>
            <langCode>{!EP_Tank__c.EP_Ship_To__r.EP_Language_Code__c}</langCode>
            <address>{!EP_Tank__c.EP_Ship_To__r.BillingStreet}</address>
            <postCode>{!EP_Tank__c.EP_Ship_To__r.BillingPostalCode}</postCode>
            <city>{!EP_Tank__c.EP_Ship_To__r.BillingCity}</city>
            <phone>{!EP_Tank__c.EP_Ship_To__r.Phone}</phone>
            <fax>{!EP_Tank__c.EP_Ship_To__r.Fax}</fax>
            <email>{!EP_Tank__c.EP_Ship_To__r.EP_Email__c}</email>
            <shipToType>{!EP_Tank__c.EP_Ship_To__r.EP_Ship_To_Type__c}</shipToType>
            <status>{!shipToStatus}</status>
            <isVMI>{!EP_Tank__c.EP_Ship_To__r.EP_Is_VMI_ShipTo__c}</isVMI>
            <dlvryType>{!EP_Tank__c.EP_Ship_To__r.EP_Delivery_Type__c}</dlvryType>
            <modifyOn><apex:outputText value="{0,date,yyyy-MM-dd'T'HH:mm:ss}"><apex:param value="{!EP_Tank__c.EP_Ship_To__r.LastModifiedDate}" /></apex:outputText></modifyOn>
            <modifyBy>{!EP_Tank__c.EP_Ship_To__r.LastModifiedBy.Alias}</modifyBy>
			<xPos>{!EP_Tank__c.EP_Ship_To__r.EP_Position__longitude__s}</xPos>
            <yPos>{!EP_Tank__c.EP_Ship_To__r.EP_Position__latitude__s}</yPos>
            <versionNr></versionNr>
            <tanks>
                <tank>
                    <seqId>{!tankSeqId}</seqId>
                    <identifier>
                        <shipToId>{!EP_Tank__c.EP_Ship_To_Nr__c}</shipToId>
                        <tankId>{!EP_Tank__c.EP_Tank_Code__c}</tankId>
                    </identifier>
                    <!-- #76105_Start-->
                    <tankAlias>{!EP_Tank__c.EP_Tank_Alias__c}</tankAlias>
                    <!-- #76105_End-->
					<!-- #L4_45352_Start-->
                    <uom>{!EP_Tank__c.EP_UnitOfMeasure__c}</uom>
                    <!-- #L4_45352_END-->
                    <productId>{!EP_Tank__c.EP_Product_Code__c}</productId>
                    <capacity>{!EP_Tank__c.EP_Capacity__c}</capacity>
                    <safeFillLevel>{!EP_Tank__c.EP_Safe_Fill_Level__c}</safeFillLevel>
                    <deadstock>{!EP_Tank__c.EP_Deadstock__c}</deadstock>
                    <tankStatus>{!EP_Tank__c.EP_TANK_STATUS_TO_LS__c}</tankStatus>
                    <tankDipEntryMode>{!EP_Tank__c.EP_Tank_Dip_Entry_Mode__c}</tankDipEntryMode>
                    <modifyOn><apex:outputText value="{0,date,yyyy-MM-dd'T'HH:mm:ss}"><apex:param value="{!EP_Tank__c.LastModifiedDate}" /></apex:outputText></modifyOn>
                    <modifyBy>{!EP_Tank__c.EP_Last_Modified_By_Name__c}</modifyBy>
                    <activeFrom><apex:outputText value="{0,date,yyyy-MM-dd}"><apex:param value="{!EP_Tank__c.EP_Block_From__c}"/></apex:outputText></activeFrom>
                    <activeTo><apex:outputText value="{0,date,yyyy-MM-dd}"><apex:param value="{!EP_Tank__c.EP_Block_Till__c}"/></apex:outputText></activeTo>
                    <availableStockLastUpdated></availableStockLastUpdated>
                    <versionNr></versionNr>
                </tank>
            </tanks>
            <clientId>{!EP_Tank__c.EP_Ship_To__r.EP_Puma_Company_Code__c}</clientId>
        </shipToAddress>
    </shipToAddresses>
</apex:page>