@charset "UTF-8";

@font-face {
  font-family: "cs-lightning";
  src: url("fonts/cs-lightning.eot?orgId=00D0k000000CwAj");
  src: url("fonts/cs-lightning.eot?orgId=00D0k000000CwAj##iefix") format("embedded-opentype"), url("fonts/cs-lightning.woff?orgId=00D0k000000CwAj") format("woff"), url("fonts/cs-lightning.ttf?orgId=00D0k000000CwAj") format("truetype"), url("fonts/cs-lightning.svg?orgId=00D0k000000CwAj##cs-lightning") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "cs-lightning" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=cs-icon-]:before, [class*=cs-icon-]:before {
  font-family: "cs-lightning" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cs-icon-ok:before {
  content: "\61";
}

.cs-icon-alert:before {
  content: "\62";
}