html {
	height:100% !important;
}
body {
	height: 100%;
}
/*.slds a.todayPicker {
	color: #da071d;
}*/
#configurationContainer {
	height: 100%;
	overflow: auto;
}
.slds .slds-form--stacked .slds-form-element {
	min-height: 0 !important;
	border: none;
}
.slds-form-element .slds-form-element__label,
.slds-form-element .slds-select,
.slds-form-element .slds-input,
.slds-form-element .slds-textarea,
.slds-form-element .select2-container,
.slds-form-element .slds-form-element__static {
	display: none !important;
}
.slds .slds-form-element .slds-form-element__label {
	color: #3c4c61;
}
.slds-form-element .slds-form-element__label[data-cs-label="Requested_Date_0"],
.slds-form-element .slds-form-element__label[data-cs-label="Customer_Reference_Number_0"],
.slds-form-element .slds-form-element__label[data-cs-label="Order_Comments_0"],
.slds-form-element .slds-textarea[data-cs-binding="Requested_Date_0"],
.slds-form-element .slds-input[data-cs-binding="Customer_Reference_Number_0"],
.slds-form-element .slds-input[data-cs-binding="Order_Comments_0"],
.slds-form-element .slds-form-element__static[data-cs-binding="Order_Lines_0"] {
	display: inline-block !important;
}
#configurationContainer .slds-modal__header + div {
	display: flex;
	flex-wrap: wrap;
}
#configurationContainer .slds-modal__header + div h2 {
	flex-basis: 100%;
}
#configurationContainer .slds-modal__header + div form:nth-of-type(1) div:first-child {
	display: none;
}
#configurationContainer .slds-modal__header + div form:nth-of-type(1) div:nth-child(2) {
	flex: 0 0 272px;
}
.slds h2 + form.slds-wrap {
/*	flex-direction: column;*/
}
#configurationContainer .slds-modal__header + div h2:nth-of-type(2) {
	display: none;
}
h2.h2Border {
	border: none;
	text-transform: uppercase;
}
#configurationContainer form {
	background-color: #f4f6f9;
}
#configurationContainer .slds-modal__header + div form:not(:nth-of-type(1)) {
	padding-bottom: 8px;
}
.slds .required, .slds .requiredOn {
	border: none;
	padding-left: none;
}
#configurationContainer .slds-modal__header + div form:nth-of-type(1) {
	border-radius: 0.25rem 0 0 0.25rem;
	border: 1px solid #d8dde6;
	border-right: none;
}
#configurationContainer .slds-modal__header + div form:nth-of-type(2) {
	border-radius: 0 0.25rem 0.25rem 0;
	border: 1px solid #d8dde6;
	border-left: none;
	padding-bottom: 12px;
	flex: 1 0;
}
#configurationContainer .slds-modal__header + div form:nth-of-type(3) {
	border-radius: 0.25rem;
	border: 1px solid #d8dde6;
	flex-basis: 100%;
}
.slds#configurationContainer .slds-button-group .slds-button[data-cs-group="Cancel"],
.slds#configurationContainer .slds-button-group .slds-button[data-cs-group="Finish"],
.slds#configurationContainer .slds-button-group .slds-button[data-cs-group="ForceFinish"] {
	background: transparent;
	color: #646f7d;
	border: none;
	padding: 0.25rem 2rem;
	border-radius: 2rem;
}
.slds#configurationContainer .slds-button-group .slds-button[data-cs-group="Cancel"]:hover,
.slds#configurationContainer .slds-button-group .slds-button[data-cs-group="Finish"]:hover,
.slds#configurationContainer .slds-button-group .slds-button[data-cs-group="ForceFinish"]:hover {
	color: #3c4c61;
	background: transparent;
	text-decoration: underline;
}
.slds#configurationContainer .slds-button-group .slds-button[data-cs-group="Finish"] {
	background: #646f7d;
	color: #fff;
}
.slds#configurationContainer .slds-button-group .slds-button[data-cs-group="Finish"]:hover {
	background: #3c4c61;
	color: #fff;
	text-decoration: none;
}
.slds .slds-modal__header h1 {
	color: #3c4c61;
}
#screensList {
	display: none;
}
.slds#configurationContainer .slds-modal__header {
	border: none;
}
.slds#configurationContainer .slds-modal__footer {
	background-color: transparent;
	border: none;
}